<header class="bg-indigo-800 p-4">
    <div class="mx-auto flex justify-between items-center flex-wrap h-20">
        <a href="/api/products"><img src="/static/logo/logo2.png" alt="Logo del comercio"  class="h-20"></a>
        <nav class="">
            {{#if admin}}
            <a class= "py-3 px-3 text-red-100" href="/api/admin">Administrador</a>
            {{/if}}
            {{#if usuario}}
            <a class= "py-3 px-3 text-red-100" href="/api/carts/{{carrito}}">Carrito</a>
            <a href="/api/users/logout" class= "py-3 pl-3 pr-10 text-red-100">Cerrar sesion</a>
            {{else}}
            <a href="/api/users/login" class= "py-3 pl-3 pr-10 text-red-100">Iniciar sesion</a>
            {{/if}}
        </nav>
    </div>
</header>
<main>
    <div class="flex justify-between mx-10 mt-10">
        <div>
            <label for="categoriaFiltro" class="text-sm w-24 uppercase text-gray-500 font-semibold">Categorias: </label>
            <select name="categoriaFiltro" id="categoriaFiltro" class="bg-white w-auto px-3 py-1 border border-gray-300 rounded-md ml-2">
                <option value="" selected >-- Seleccionar una --</option>
                <option value="Ficcion">Ficción</option>
                <option value="No-Ficcion">No-ficción</option>
                <option value="Romance">Romance</option>
                <option value="Thriller">Thriller</option>
            </select>
        </div>
        <form action="/api/products/buscador" method="POST">
            <input type="text" name="q" class="bg-indigo-50 rounded p-2 ">
            <input type="submit" value="Buscar" class="cursor-pointer bg-indigo-300 rounded py-2 px-4">
        </form>
    </div>
    <h3 class="text-2xl text-center my-5">{{nombrePagina}}</h3>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-5 mx-5 my-10">
        {{#if products}}
            {{#each products}}
            <div class="bg-white shadow rounded-lg flex lg:flex-col flex-row">
                <div class="mt-3 ml-3">
                    <img src="/static/uploads/prodImg/{{this.img}}" alt="Foto del libro {{this.titulo}}" class="lg:w-2/3 w-28 py-1">
                </div>
                <div class="p-3 lg:w-3/3">
                    <h4 class="text-lg font-semibold mb-3 text-indigo-800">{{this.titulo}}</h4>
                    <p class="text-sm text-gray-600 mb-3">Categoria:  
                        <span class="text-gray-800 font-medium">{{this.categoria}}</span>
                    </p>
                    <p class="text-sm text-gray-600 mb-10">Precio:  
                        <span class="text-gray-800 font-medium">${{this.precio}}</span>
                    </p>
                    <a href="/api/products/{{this._id}}" class= "bg-indigo-800 text-red-100 py-2 px-6 rounded-md text-white">Detalle</a>
                </div>
            </div>
            {{/each}}
        {{else}}
        <h3 class="text-xl text-center">No hay productos disponibles</h3>
        {{/if}}
    </div>


</main>